@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --success-color: #2c698d;
  --danger-color: #dc3545;
  --light-color: #bae8e8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background-color: #ffffff;
}

h1 {
  font-weight: bold;
}
p {
  font-size: 1.1rem;
}
.nav-bar {
  background-color: #272643;
  height: 85px;
  padding: 25px 30px;
  text-align: right;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  text-align: left;
  padding: 0 10px 0 10px;
  font-size: 1.2rem;
}

.nav-logo {
  position: absolute;
  left: 0;
  padding: 0 0 0 30px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.nav-item:hover {
  color: #bae8e8;
  text-decoration: none;
  text-align: left;
  padding: 0 10px 0 10px;
  font-size: 1.2rem;
}

.nav-logo:hover {
  position: absolute;
  left: 0;
  padding: 0 0 0 30px;
  color: #bae8e8;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container {
  margin: 4% auto;
  padding: 80px 0;
  text-align: left;
  height: 400px;
  max-height: 350px;
  width: 800px;
  max-width: 600px;
}

.notfound-paragraph {
  padding: 10px 0 20px 0;
  font-size: 1.1rem;
  color: #000;
}
.notfound-heading {
  color: #000;
}

.fa-exclamation-triangle {
  color: #2c698d;
}

.btn {
  background-color: #fff;
  border: 2px solid #2c698d;
  border-radius: 15px;
  color: #2c698d;
  width: 40%;
}
.btn:hover {
  background-color: #2c698d;
  border: 2px solid #2c698d;
  border-radius: 15px;
  color: #fff;
  width: 40%;
}

.city-form {
  margin: 35px 0 0 0;
}

.form-input {
  width: 70%;
  padding: 8px 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #2c698d;
}

.mg-top-paragraph {
  margin-top: 15px;
}
.mg-top {
  margin-top: 10px;
}

.alert {
  padding: 0.8rem;
  margin: 1rem auto;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  width: 80%;
  max-width: 60%;
}

.alert-success {
  background-color: var(--success-color);
  color: #fff;
}

.alert-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.table {
  margin: 20px auto;
  width: 90%;
  text-align: center;
}
